<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0"
    />
    <title>Dev</title>

    <!-- CSS  -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="css/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="css/style.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>

  <body>
    <!-- <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/logout">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/logout">Logout</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav> -->
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class="row">
          <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card blue-grey darken-1">
              <div
                class="card-content white-text"
                style="padding-bottom: 0 !important"
              >
                <!-- <span class="card-title">Isuru Hettiarachchi</span> -->
                <div class="row" style="margin-bottom: 0 !important">
                  <div class="col">
                    <img
                      src="{{ displayPicture }}"
                      alt=""
                      class="circle responsive-img"
                      width="90"
                    />
                  </div>
                  <div class="col">
                    <h6>{{ name }}</h6>
                    <span>{{ email }}</span>
                    <br />
                    <span>{{ id }}</span>
                  </div>
                </div>
              </div>
              <div class="card-action">
                <a class="right" href="/logout">Logout</a>
                <a href="#"></a>
              </div>
            </div>
          </div>
        </div>

        <!-- <h5 class="header center orange-text">Primary Calendar</h5>
    <div class="row center">
          <h7 class="header col s12 light">Next 10 events in the calendar</h7>
        </div> -->

        <div class="row">
          <div class="col s12 m8 offset-m2 l6 offset-l3">
            <ul class="collection">
              {% for item in events %}
              <li class="collection-item">
                <p>
                  {{ item.start.date }}<strong> - {{ item.summary }}</strong>
                </p>
                <br />
                <p>
                  <br />
                  <a href="{{ item.location }} " class="secondary-content"
                    >Link Gather</a
                  >
                </p>
                <p>
                  <br />
                  <a href="{{ item.hangoutLink}} " class="secondary-content"
                    >Link Meeting</a
                  >
                </p>
              </li>
              <p>{{ item.start.date }}</p>
              <span>{{ item.summary }}</span>

              {% endfor %}
            </ul>
          </div>
        </div>

        <!-- <br><br>
      <h1 class="header center orange-text">Starter Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button"
          class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br> -->
      </div>
    </div>

    <!-- <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our
              custom components. Additionally, we refined animations and transitions to provide a smoother experience
              for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework
              that incorporates components and animations that provide more feedback to users. Additionally, a single
              underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users
              get started. We are also always open to feedback and can answer any questions a user may have about
              Materialize.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div> -->

    <!-- <footer class="page-footer orange">
  <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our
            full time job. Any amount would help support and continue development on this project and is greatly
            appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> -->
    <!-- 
    <div class="footer-copyright">
      <div class="container">
        Made for Secure Software Development Module, SE4030, SLIIT 
      </div>
    </div>
  </footer>-->

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>
